body {
    background-image: url('https://wallpaperaccess.com/full/2718707.jpg'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  @media screen and (max-width: 768px) {
    #loginForm {
      text-align: center;
      padding: 15px;
      max-width: 90%;
      background-color: rgba(255, 255, 255, 0.9); 
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    }
  }
  
  #loginForm h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333; /* Text color */
  }
  
  #loginForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #loginForm input[type="text"],
  #loginForm input[type="password"] {
    font-size: 18px;
    padding: 8px;
    margin: 8px 0;
    border: 2px solid #ccc; /* Border style */
    border-radius: 5px;
    background-color: #f8f8f8; /* Input background color */
    color: #333; /* Text color */
  }
  
  #loginForm input[type="text"]::placeholder,
  #loginForm input[type="password"]::placeholder {
    color: #777; /* Placeholder text color */
  }
  
  #loginForm button[type="submit"] {
    font-size: 20px;
    padding: 8px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Button text color */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  #loginForm button[type="submit"]:hover {
    background-color: #0056b3; /* Hovered button background color */
  }